header{
    background-color: rgba(7, 86, 151, 0.918);
    color: aliceblue;
    text-align: center;
    margin: 0 auto;
}

main{
    background-color: rgb(219, 219, 217);
    color: rgb(9, 76, 102);
}